@import url("https://fonts.googleapis.com/css?family=Montserrat:300,700&subset=cyrillic");
.font-mons-b {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.font-mons-l {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.head-text {
  font-size: 45px;
  margin-top: 250px;
}

.hed-col {
  background-color: rgba(0, 0, 0, 0.05);
}

.d-in-b {
  display: inline-block;
}

.col-white {
  color: white;
}

.header-block {
  background-image: url(../img/head-bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.fm-op {
  opacity: 0.7;
}

.serch-form {
  width: 300px !important;
}

.nav-color a {
  color: white;
}

.nav-h {
  border-top: 5px solid #54d154;
  padding-top: 3px;
}

.nav-hov:hover {
  color: #61ff06;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.search-pos {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.bt-serch {
  background: none;
  border: none;
  position: absolute;
  right: 30px;
  cursor: pointer;
}

.bt-serch:after {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 20px;
}

.main-send-bt {
  margin-top: 40px;
}

.main-send-bt button {
  width: 205px;
  height: 45px;
  border: none;
  background: #54d154;
  color: #fff;
  text-align: center;
  border-radius: 25px;
  font-size: 18px;
}

.main-send-bt button:hover {
  -webkit-box-shadow: inset -205px 0px 0px 0px rgba(0, 0, 0, 0.3);
          box-shadow: inset -205px 0px 0px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.scrol-bt {
  padding-top: 215px;
  padding-bottom: 25px;
}

.scrol-bt button {
  width: 120px;
  height: 25px;
  border: none;
  text-align: center;
  background: #bdbabb;
  opacity: 0.6;
  font-size: 14px;
  border-radius: 15px;
}

.scrol-bt button:after {
  content: "\f063";
  font-family: FontAwesome;
  font-size: 14px;
  padding-left: 10px;
}

.bt-hv:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.text-block {
  background-color: white;
  padding-top: 40px;
  padding-bottom: 75px;
}

.line-wd {
  margin-bottom: 12px;
  margin-top: 12px;
}

.line-wd:after {
  display: block;
  content: "";
  border: 1.5px solid black;
  width: 43px;
  margin: auto;
  margin-top: 5px;
}

.m-h2-c {
  color: #828181;
}

.m-t-c {
  color: #bcb9b9;
  padding-bottom: 70px;
}

.square {
  width: 150px;
  height: 150px;
  border-radius: 25px;
  background-color: #e1f3e1;
}

.square:after {
  content: "\f083";
  font-family: FontAwesome;
  font-size: 100px;
  color: green;
  padding-top: 10px;
  padding-left: 25px;
}

.tachometer {
  width: 150px;
  height: 150px;
  border-radius: 25px;
  background-color: #e1f3e1;
}

.tachometer:after {
  content: "\f0e4";
  font-family: FontAwesome;
  font-size: 100px;
  color: green;
  padding-top: 10px;
  padding-left: 25px;
}

.bag {
  width: 150px;
  height: 150px;
  border-radius: 25px;
  background-color: #e1f3e1;
}

.bag:after {
  content: "\f0b1";
  font-family: FontAwesome;
  font-size: 100px;
  color: green;
  padding-top: 10px;
  padding-left: 25px;
}

.text-mg {
  margin-top: 27px;
  margin-bottom: 26px;
}

.bt-learn {
  width: 120px;
  height: 30px;
  border-radius: 20px;
  color: #c6edc6;
  background-color: #54d154;
  margin-top: 28px;
  border: none;
}

.bt-learn:hover {
  -webkit-box-shadow: inset 0px 30px 0px 0px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0px 30px 0px 0px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.text-conf {
  width: 50%;
  margin: auto;
}

.bt-mg {
  margin-bottom: 50px;
  margin-top: 60px;
}

.bt-style-1 {
  background-color: #2b9b2b;
  color: white;
  border-radius: 25px 0px 0px 25px;
  width: 125px;
  height: 35px;
  border: 1px solid green;
  cursor: pointer;
}

.bt-style-2 {
  background-color: white;
  color: #54d154;
  width: 90px;
  height: 35px;
  border: 1px solid green;
  cursor: pointer;
}

.bt-style-3 {
  border-radius: 0px 25px 25px 0px;
  background-color: white;
  color: #54d154;
  width: 67px;
  height: 35px;
  border: 1px solid green;
  cursor: pointer;
}

.gallery {
  background-color: #54d154;
  padding-top: 40px;
  padding-bottom: 50px;
}

.gal-col {
  font-family: 'Montserrat', sans-serif;
  color: #207b20;
}

.line-lw:after {
  display: block;
  content: "";
  border: 1.5px solid #207b20;
  width: 43px;
  margin: auto;
  margin-top: 13px;
  margin-bottom: 15px;
}

.img-block img {
  margin-right: 30px;
  margin-top: 20px;
}

.img-block-sec img {
  margin-right: 30px;
  margin-top: 30px;
}

.more-works:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0 0 40px 40px #5e74c2 inset;
          box-shadow: 0 0 40px 40px #5e74c2 inset;
}

.more-work-bt {
  margin-top: 53px;
  padding-bottom: 83px;
}

.more-work-bt button {
  width: 190px;
  height: 42px;
  border: none;
  text-align: center;
  background: #2b9b2b;
  color: white;
  font-size: 14px;
  border-radius: 25px;
}

.more-work-bt button:after {
  content: "\f061";
  font-family: FontAwesome;
  font-size: 14px;
  padding-left: 10px;
}

.testimon {
  padding-top: 42px;
  padding-bottom: 60px;
  background-color: white;
}

.tet-block {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #828181;
  letter-spacing: 6px;
}

.tet-block:after {
  display: block;
  content: "";
  border: 1px solid #828181;
  width: 50px;
  margin: auto;
  margin-top: 13px;
  margin-bottom: 13px;
}

.tet-bloc-p {
  color: #e4e3e3;
  margin-bottom: 75px;
}

.quote {
  color: #444444;
  position: relative;
}

.quote:before {
  display: block;
  position: absolute;
  content: "\f104";
  font-family: FontAwesome;
  font-size: 24px;
  color: #e4e3e3;
}

.quote:after {
  display: block;
  position: absolute;
  content: "\f105";
  font-family: FontAwesome;
  font-size: 24px;
  color: #e4e3e3;
  top: 0px;
  right: 0px;
}

.port {
  width: 46px;
  height: 46px;
  border: 2px solid #e1e1e1;
  border-radius: 25px;
  background-image: url(../img/face.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.t-port {
  vertical-align: top;
}

.t-port p {
  margin-bottom: 0px;
  text-align: left;
}

.t-port p:after {
  content: "CEO of Meme, Inc.";
  display: block;
  color: #d7d7d7;
}

.client {
  background-color: #f2f1f1;
}

.client-block {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #828181;
  letter-spacing: 4px;
  padding-top: 38px;
}

.client-block:after {
  display: block;
  content: "";
  border: 2px solid #828181;
  width: 50px;
  margin: auto;
  margin-top: 13px;
}

.client-text {
  color: #b7b3b3;
}

.client-gal {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.client-gal img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.client-gal-sec {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 62px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.client-gal-sec div {
  width: 155px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: center;
}

.client-gal-sec img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.see-client {
  margin-top: 60px;
  padding-bottom: 63px;
}

.see-client button {
  width: 190px;
  height: 42px;
  border: none;
  text-align: center;
  background: #dddcdc;
  color: #a59d9d;
  font-size: 16px;
  border-radius: 25px;
}

.see-client button:hover {
  background-color: #3d66d6;
  opacity: 0.5;
  border: 1px dotted green;
}

.see-client button:after {
  content: "\f061";
  font-family: FontAwesome;
  font-size: 14px;
  padding-left: 21px;
}

.team {
  background-color: #54d154;
  padding-bottom: 60px;
}

.team-block {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #207b20;
  letter-spacing: 4px;
  padding-top: 38px;
}

.team-block:after {
  display: block;
  content: "";
  border: 1.5px solid #207b20;
  width: 70px;
  margin: auto;
  margin-top: 13px;
}

.team-text {
  color: #3db23d;
}

.team-img {
  margin-top: 50px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.team-img div:after {
  display: block;
  content: "";
  height: 80px;
  width: 2px;
  background-color: #207b20;
  position: relative;
  left: 63px;
  top: 11px;
  margin-bottom: 24px;
}

.team-img img {
  border-radius: 50%;
  width: 98%;
}

.team-img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.team-name {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}

.km, .gy, .an, .zd, .ff {
  position: relative;
  color: #f6fcf6;
}

.km {
  right: 22px;
}

.gy {
  right: 35px;
}

.an {
  right: 33px;
}

.zd {
  right: 7px;
}

.ff {
  left: 15px;
}

.km-s, .gy-s, .an-s, .zd-s, .ff-s {
  position: relative;
}

.km-s {
  right: 15px;
}

.gy-s {
  right: 7px;
}

.an-s {
  left: 3px;
}

.zd-s {
  left: 6px;
}

.ff-s {
  left: 15px;
}

.team-contact {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.soc-link {
  width: 85px;
  height: 28px;
  background-color: #c5e9c5;
  border-radius: 15px;
  list-style: none;
  text-align: center;
}

.soc-link ul {
  padding-left: 0;
  padding-top: 4px;
}

.soc-link ul li {
  display: inline-block;
}

.soc-link ul li .ss {
  background-position: 0px;
}

.soc-link ul li .be {
  background-position: 48px -1px;
}

.soc-link ul li .tw {
  background-position: 22px;
}

.soc-link ul li a {
  display: block;
  width: 22px;
  height: 18px;
  background: url(../img/sprite.png);
}

.team-bt {
  background-color: #3eba3e;
  padding-top: 28px;
  padding-bottom: 25px;
}

.team-bt-w button {
  width: 175px;
  height: 40px;
  border: none;
  text-align: center;
  background: #54d154;
  color: #c6edc6;
  font-size: 14px;
  border-radius: 25px;
}

.team-bt-w button:hover {
  background-color: rgba(255, 0, 98, 0);
  -webkit-box-shadow: inset 0px 40px 0px 0px rgba(10, 243, 99, 0.7);
          box-shadow: inset 0px 40px 0px 0px rgba(10, 243, 99, 0.7);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer-info {
  background-color: #333333;
  padding-top: 30px;
  padding-bottom: 30px;
}

.about-us {
  color: #cccdcc;
}

.about-us p {
  padding-left: 50px;
  padding-right: 50px;
}

.soc-m {
  margin-top: 30px;
}

.mt-t1 {
  margin-top: 26px;
}

.ml-rp-b {
  margin-left: 7px;
}

.bl-l {
  background-color: #e6e7e6;
}

.rp-bl {
  color: #cccdcc;
}

.mt-t2 {
  margin-top: 19px;
}

.rp-img {
  vertical-align: top;
}

.rp-mg {
  margin-top: 11px;
}

.rp-bt-m button {
  width: 80px;
  height: 18px;
  text-align: center;
  border: none;
  background-color: #54d154;
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #f7fcf7;
  border-radius: 5px;
}

.rp-bt-ui button {
  width: 77px;
  height: 18px;
  text-align: center;
  border: none;
  background-color: #ffba00;
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #f7fcf7;
  border-radius: 5px;
}

.rp-bt-ph button {
  width: 106px;
  height: 18px;
  text-align: center;
  border: none;
  background-color: #089dea;
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #f7fcf7;
  border-radius: 5px;
}

.rp-bt-b button {
  width: 48px;
  height: 18px;
  text-align: center;
  border: none;
  background-color: #f34d04;
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #f7fcf7;
  border-radius: 5px;
}

.cont-color {
  color: #cccdcc;
}

.cont-color p {
  margin-top: 17px;
  margin-bottom: 27px;
}

.form-block {
  width: 90%;
  margin: 0 auto;
}

.form-block input, .form-block textarea {
  background-color: #444444;
  color: #6e6e6e;
  border: none;
}

.form-block input:focus, .form-block textarea:focus {
  background-color: #444444;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: white;
}

.form-block input {
  margin-bottom: 2px;
}

.form-block button {
  margin-top: 2px;
  background: #2b9b2b;
  border: none;
  border-radius: 0 0 10px 10px;
  padding: 15px 0px;
  width: 100%;
  color: white;
  font-size: 18px;
}

.as-seen {
  padding: 25px 0 29px 0;
  background-color: #222222;
}

.und-line:after {
  display: block;
  content: "";
  border: 1.5px solid #dddddd;
  width: 30px;
  margin: auto;
  margin-top: 5px;
}

.und-line-f {
  color: black;
}

.und-line-f:after {
  display: block;
  content: "";
  border: 1.5px solid black;
  width: 30px;
  margin: auto;
  margin-top: 5px;
}

.footer-news {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 25px;
}

.made {
  background-color: #111111;
  color: white;
  padding: 12px 0;
}

@media (max-width: 1250px) {
  .head-text {
    font-size: 45px;
    margin-top: 150px;
  }
}

@media (max-width: 1170px) {
  .scrol-bt {
    padding-top: 90px;
    padding-bottom: 25px;
  }
  .scrol-bt button {
    width: 120px;
    height: 25px;
    border: none;
    text-align: center;
    background: #bdbabb;
    opacity: 0.6;
    font-size: 14px;
    border-radius: 15px;
  }
  .scrol-bt button:after {
    content: "\f063";
    font-family: FontAwesome;
    font-size: 14px;
    padding-left: 10px;
  }
}

@media (max-width: 883px) {
  .about-us p {
    padding: 0;
  }
  .head-text {
    margin-top: 70px;
  }
  .scrol-bt {
    padding-top: 70px;
    padding-bottom: 30px;
  }
  .text-left {
    text-align: center !important;
  }
}

@media (max-width: 767px) {
  .navbar-pos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .search-pos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bt-serch {
    background: none;
    border: none;
    position: relative;
    right: 45px;
    cursor: pointer;
  }
  .head-text {
    font-size: 25px;
    margin-top: 25px;
  }
  .text-conf {
    width: 70%;
  }
  .more-work-bt {
    padding-bottom: 10px;
  }
  .main-send-bt {
    margin-top: 15px;
  }
  .sep {
    margin-bottom: 25px;
  }
  .text-left {
    text-align: left !important;
  }
  .scrol-bt {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}

@media (max-width: 650px) {
  .bt-hv {
    display: none;
  }
  .footer-news {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team-img div::after {
    display: none;
  }
  .client-gal-sec img {
    margin-top: 30px;
  }
}

@media (max-width: 500px) {
  .main-send-bt button {
    width: 150px;
    height: 25px;
    font-size: 16px;
  }
  .square {
    width: 90px;
    height: 90px;
  }
  .square:after {
    font-size: 60px;
    padding-left: 15px;
  }
  .tachometer {
    width: 90px;
    height: 90px;
  }
  .tachometer:after {
    font-size: 60px;
    padding-left: 15px;
  }
  .bag {
    width: 90px;
    height: 90px;
  }
  .bag:after {
    font-size: 60px;
    padding-left: 15px;
  }
  .text-mg {
    font-size: 16px;
  }
  .text-conf {
    width: 80%;
  }
  .team-name {
    font-size: 12px;
  }
  .text-block {
    padding-bottom: 25px;
    padding-top: 0;
  }
}
/*# sourceMappingURL=wf.css.map */